{% extends 'blog/base.html' %}
{% load static %}
<meta charset="utf-8">

{% block content %}

<style>

body {
  font: 12px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: #40b4a1;
  stroke-width: 1.5px;
}

.dot {
  stroke: #6771a5;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 80px;
  height: 55px;
  padding: 4px;
  font: 12px sans-serif;
  color: white;
  font-weight: 500;
  background: black;
  border: 0px;
  border-radius: 4px;
  pointer-events: none;
}

/* http://www.d3noob.org/2013/01/adding-grid-lines-to-d3js-graph.html */
.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}

</style>

<body>
    <h4 style="color:#4acaa8 !important"><a href = {% url 'line' %}> > >  시간당 방문자 그래프 < < </a></h4><br/>
    <h4 style="color:#4acaa8 !important"><a href = {% url 'bar' %}> > >  성별, 연령별 그래프 < < </a></h4><br/>
    <h4 style="color:#4acaa8 !important"><a href = {% url 'pie' %}> > >  성별 비율 그래프 < < </a></h4><br/>
    <h4 style="color:#4acaa8 !important"><a href = {% url 'location' %}> > >  장소별 방문자 그래프 < < </a></h4>
<br/><br/><br/><br/>
</div>
<svg width="960" height="500"></svg>
<script src="http://d3js.org/d3.v3.js"></script>
<script>

//I increased the bottom margin a little bit because the x label is tied to it; so I could lower the x label a little bit
var margin = {top: 50, right: 20, bottom: 60, left: 90},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

var x = d3.time.scale()
    .range([0, width]);

var y = d3.scale.linear()
    .range([height, 0]);

var xAxis = d3.svg.axis()
    .scale(x)
	.ticks(d3.time.hours)
    //.tickFormat(d3.timeFormat("%Y-%m-%d %X"))
	//makes the xAxis ticks a little longer than the xMinorAxis ticks
    .tickSize(10)
    .orient("bottom");

var xMinorAxis = d3.svg.axis()
    .scale(x)
	.ticks(d3.time.hours,12)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");

var line = d3.svg.line()
    .x(function(d) { return x(d.time); })
    .y(function(d) { return y(d.count); });

var div = d3.select("body").append("div")
    .attr("class", "tooltip")
    .style("opacity", 0);

var svg = d3.select("svg").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

//The format in the CSV, which d3 will read
var parseDate = d3.time.format("%Y-%m-%d %X");

//format for tooltip
//https://github.com/mbostock/d3/wiki/Time-Formatting
//var formatTime = d3.time.format("%e %b");
var formatTime = d3.time.format("%Y-%m-%d %X");
var formatCount = d3.format(",");

// function for the y grid lines
function make_y_axis() {
  return d3.svg.axis()
      .scale(y)
      .orient("left")
      //.ticks(5)
}

//reading in CSV which contains data
d3.csv("../../static/data/people_count_per_hour.csv", function(error, data) {
  data.forEach(function(d) {
    //console.log(d.date_time)
    d.time = parseDate.parse(d.time);
    d.count = +d.count;
  });

  //using imported data to define extent of x and y domains
  x.domain(d3.extent(data, function(d) { return d.time; }));
  y.domain(d3.extent(data, function(d) { return d.count; }));

// Draw the y Grid lines
	svg.append("g")
		.attr("class", "grid")
		.call(make_y_axis()
			.tickSize(-width, 0, 0)
			.tickFormat("")
		)

  svg.append("path")
      .datum(data)
      .attr("class", "line")
      .attr("d", line);

//taken from http://bl.ocks.org/mbostock/3887118
//and http://www.d3noob.org/2013/01/change-line-chart-into-scatter-plot.html
//creating a group(g) and will append a circle and 2 lines inside each group
var g = svg.selectAll()
        .data(data).enter().append("g");

   //The markers on the line
	 g.append("circle")
         //circle radius is increased
        .attr("r", 4.5)
        .attr("cx", function(d) { return x(d.time); })
        .attr("cy", function(d) { return y(d.count); });

   //The horizontal dashed line that appears when a circle marker is moused over
	 g.append("line")
        .attr("class", "x")
        .attr("id", "dashedLine")
        .style("stroke", "steelblue")
        .style("stroke-dasharray", "3,3")
        .style("opacity", 0)
        .attr("x1", function(d) { return x(d.time); })
        .attr("y1", function(d) { return y(d.count); })
		    //d3.min gets the min time from the time x-axis scale
		    .attr("x2", function(d) { return x(d3.min(x)); })
        .attr("y2", function(d) { return y(d.count); });

  //The vertical dashed line that appears when a circle marker is moused over
	g.append("line")
        .attr("class", "y")
        .attr("id", "dashedLine")
        .style("stroke", "steelblue")
        .style("stroke-dasharray", "3,3")
        .style("opacity", 0)
        .attr("x1", function(d) { return x(d.time); })
        .attr("y1", function(d) { return y(d.count); })
		    .attr("x2", function(d) { return x(d.time); })
        .attr("y2", height);

   //circles are selected again to add the mouseover functions
 	 g.selectAll("circle")
			.on("mouseover", function(d) {
            div.transition()
               .duration(200)
               .style("opacity", .9);
            div.html(formatTime(d.time))
               .style("left", (d3.event.pageX - 20) + "px")
      		     .style("top", (d3.event.pageY + 6) + "px");
	          //selects the horizontal dashed line in the group
			      d3.select(this.nextElementSibling).transition()
                .duration(200)
                .style("opacity", .9);
            //selects the vertical dashed line in the group
			      d3.select(this.nextElementSibling.nextElementSibling).transition()
                .duration(200)
                .style("opacity", .9);
            })

      .on("mouseout", function(d) {
            div.transition()
               .duration(500)
               .style("opacity", 0);

			      d3.select(this.nextElementSibling).transition()
                .duration(500)
                .style("opacity", 0);

			      d3.select(this.nextElementSibling.nextElementSibling).transition()
                .duration(500)
                .style("opacity", 0);
        });

svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis)
	    .selectAll(".tick text")
      .call(wrap, 35);

svg.append("g")
    .attr("class","xMinorAxis")
    .attr("transform", "translate(0," + height + ")")
    .style({ 'stroke': 'Black', 'fill': 'none', 'stroke-width': '1px'})
    .call(xMinorAxis)
    .selectAll("text").remove();

//http://www.d3noob.org/2012/12/adding-axis-labels-to-d3js-graph.html
svg.append("text")      // text label for the x-axis
        .attr("x", width / 2 )
        .attr("y",  height + margin.bottom - 1)
        .style("text-anchor", "middle")
        .text("Date(점에 마우스 커서를 올려 정확한 날짜/시간 확인, Hold a mouse cursor on each point to check specific time)");

svg.append("text")      // text label for the y-axis
        .attr("y",30 - margin.left)
        .attr("x",50 - (height / 2))
        .attr("transform", "rotate(-90)")
        .style("text-anchor", "end")
        .style("font-size", "12px")
        .text("People Count");

//http://www.d3noob.org/2013/01/adding-title-to-your-d3js-graph.html
{#svg.append("text")      // text label for chart Title#}
{#        .attr("x", width / 2 )#}
{#        .attr("y", 0 - (margin.top/2))#}
{#        .style("text-anchor", "middle")#}
{#		.style("font-size", "14px")#}
{#        .style("text-decoration", "underline")#}
{#        .text("People Count Per Hour");#}


svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    //text label for the y-axis inside chart
    /*
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .style("font-size", "16px")
      .style("background-color","red")
      .text("road length (km)");
    */

//http://bl.ocks.org/mbostock/7555321
//This code wraps label text if it has too much text
function wrap(text, width) {
  text.each(function() {
    var text = d3.select(this),
        words = text.text().split(/\s+/).reverse(),
        word,
        line = [],
        lineNumber = 0,
        lineHeight = 1.1, // ems
        y = text.attr("y"),
        dy = parseFloat(text.attr("dy")),
        tspan = text.text(null).append("tspan").attr("x", 0).attr("y", y).attr("dy", dy + "em");
    while (word = words.pop()) {
      line.push(word);
      tspan.text(line.join(" "));
      if (tspan.node().getComputedTextLength() > width) {
        line.pop();
        tspan.text(line.join(" "));
        line = [word];
        tspan = text.append("tspan").attr("x", 0).attr("y", y).attr("dy", ++lineNumber * lineHeight + dy + "em").text(word);
      }
    }
  });
}

});

</script>
<br/><br/><br/><br/>

<div>
{% endblock %}