{% extends 'blog/base.html' %}
{% load static %}
<meta charset="utf-8">

{% block content %}

    <br/>
    <h4 style="color:#4acaa8 !important"><a href = {% url 'line' %}> > >  시간당 방문자 그래프 < < </a></h4><br/>
    <h4 style="color:#4acaa8 !important"><a href = {% url 'bar' %}> > >  성별, 연령별 그래프 < < </a></h4><br/>
    <h4 style="color:#4acaa8 !important"><a href = {% url 'pie' %}> > >  성별 비율 그래프 < < </a></h4><br/>
    <h4 style="color:#4acaa8 !important"><a href = {% url 'location' %}> > >  장소별 방문자 그래프 < < </a></h4>
    <br/><br/>

    <!DOCTYPE html>
<meta charset="utf-8">
<style>

.arc text {
  font: 12px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

</style>
<svg width="960" height="500"></svg>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script>

var svg = d3.select("svg"),
    width = +svg.attr("width"),
    height = +svg.attr("height"),
    radius = Math.min(width, height) / 2,
    g = svg.append("g").attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

var color = d3.scaleOrdinal(["#98abc5", "#8a89a6", "#94c4c5", "#c582a0", "#2cc597"]);

var pie = d3.pie()
    .sort(null)
    .value(function(d) { return d.count; });

var path = d3.arc()
    .outerRadius(radius - 10)
    .innerRadius(0);

var label = d3.arc()
    .outerRadius(radius - 40)
    .innerRadius(radius - 40);

d3.csv("../../static/data/people_count_per_location.csv", function(d) {
  d.count = +d.count;
  return d;
}, function(error, data) {
  if (error) throw error;

  var arc = g.selectAll(".arc")
    .data(pie(data))
    .enter().append("g")
      .attr("class", "arc");

  arc.append("path")
      .attr("d", path)
      .attr("fill", function(d) { return color(d.data.location); });

  arc.append("text")
      .attr("transform", function(d) { return "translate(" + label.centroid(d) + ")"; })
      .attr("dy", "0.35em")
      .text(function(d) { return (d.data.location)});
  arc.append("text")
      .attr("transform", function(d) { return "translate(" + label.centroid(d) + ")"; })
      .attr("dy", "1.35em")
      .text(function(d) { return "("+d.data.count+", "+d.data.ratio+"%)"; });
});

</script>


{% endblock %}