{% extends 'blog/base.html' %}
{% load static %}
<meta charset="utf-8">

{% block content %}
    <br/>
    <h4 style="color:#4acaa8 !important"><a href = {% url 'line' %}> > >  시간당 방문자 그래프 < < </a></h4><br/>
    <h4 style="color:#4acaa8 !important"><a href = {% url 'bar' %}> > >  성별, 연령별 그래프 < < </a></h4><br/>
    <h4 style="color:#4acaa8 !important"><a href = {% url 'pie' %}> > >  성별 비율 그래프 < < </a></h4><br/>
    <h4 style="color:#4acaa8 !important"><a href = {% url 'location' %}> > >  장소별 방문자 그래프 < < </a></h4>
    <br/><br/>
{% endblock %}